.resposta {
    display:  flex;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: 10px;
    perspective: 1000px;
}

.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.conteudoResposta.respostaRevelada{
    transform: rotateY(180deg);
}

.cardFrente, .cardVerso {
    position: absolute;
    display: flex;   
    height: 80%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardFrente {
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: white;
    color: black;
}

.cardVerso {
    transform: rotateY(180deg);
}

.cardVerso > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.certa {
    background-color: #2baa6d;
}

.errada {
    background-color: #e44a4c;
}
.certa .valor, .errada .valor {
    font-size: 1.5rem;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 20px;
    color: black;
}

.valor {
    font-size: 1.3rem;
    font-weight: bold;
}